<div id="search-results-table">

  <% if @results_size && @results_size > 0 %>
    <h3><%= @results_size.to_s + ' Results' + ' for query "' + @user_query + '"' %></h3>
  <% end %>

  <table class="column-lines small">
      <thead>
      <tr>
        <th></th>
        <th>Award type</th>
        <th>Contract pricing</th>
        <th>Contracting Agent</th>
        <th>Date Signed</th>
        <th>Contract Description</th>
        <th>Dollars Obligation</th>
        <th>Extent Competed</th>
        <th>Agency ID</th>
        <th>Funding Agency</th>
        <th>Major Agency</th>
        <th>City</th>
        <th></th>
        <th></th>
      </tr>
      </thead>

      <%= render(@gov_contracts) %>

    </table>
</div>